* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HeaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff8f5;
    z-index: 1000;
    height: 100px;
    transition: background-color 0.3s ease;
}
.logoImg {
    width: 220px;
    height: auto;
}
.logo {
    width: 25%;
    display: flex;
    align-items: center;
}
.search {
    width: 35%;
    display: flex;
    justify-content: center;
}
.search input {
    height: 45px;
    width: 350px;
    padding: 0 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: white;
    color: #222;
    transition: 0.3s ease;
}
.mood {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-right: 10px;
}
.mood img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hallApp.dark .HeaderContainer {
    background: #3f0211;
    border-bottom: 1px solid #7a263b;
}
.hallApp.dark .search input {
    background-color: #2b2225;
    color: #f5eeee;
    border-color: #4a383d;
}
.hallApp.dark .search input::placeholder {
    color: #c5b8bb;
}
.hallApp.dark .favoriteButton {
    background-color: #350808;
    color: #241A1D;
    color: white
}
.hallApp.dark .favoriteButton:hover {
    background-color: #E0C98A;
}
.favoriteButton {
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #fff0eb;
    color: #7b263a;
    font-size: 14px;
    transition: 0.3s;
}
.favoriteButton:hover {
    transform: scale(1.05);
}
@media (max-width: 830px) {
    .HeaderContainer {
        flex-direction: column;
        height: auto;
        position: fixed;
        gap: 5px;
        max-height: 250px;
        padding: 15px;
    }
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logoImg {
        width: 180px;
        height: auto;
    }
    .search {
        width: 100%;
    }
    .search input {
        width: 100%;
        padding: 0 10px;
    }
    .mood {
        width: 100%;
        justify-content: center;
    }
    .favoriteButton {
        font-size: 12px;
        padding: 8px 12px;
        background-color: none;
    }
    .favoriteButton {
        font-size: 12px;
        padding: 8px 12px;
        background:none;
    }
    .hallApp.dark .favoriteButton{
        background: none;
    }
}
@media (max-width: 930px) {
    .search {
        width: 400px;
    }
    .search input {
        width: 100%;
        padding: 0 10px;
    }
    .favoriteButton {
        padding: 8px 12px;
        background:none;
    }
}