* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hallApp {
    min-height: 100vh;
    width: 100%;
    background: #211A1D;
    color: #f8eeee;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-top: 110px;
}
.CategoriesName,
.OriginsName {
    padding-left: 20px;
}
.hallApp.dark {
    background: #171315;
    color: #f5eeee;
}
.hallApp.light {
    background: #ffffff;
    color: #222;
}
@media (max-width: 768px) {
    .hallApp {
        padding-top: 240px;
    }
}